# --- Python ---
__pycache__/
*.pyc
*.pyo

# --- Environnement virtuel uv ---
.venv/

# --- Packaging (si tu build ton package plus tard) ---
build/
dist/
*.egg-info/

# --- Caches d'outils dev ---
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# --- Jupyter ---
.ipynb_checkpoints/

# --- Secrets ---
.env
*.env
kaggle.json

# --- OS ---
Thumbs.db
.DS_Store

# --- IDE ---
.idea/

# --- ML project ---
data/
mlruns/
outputs/
runs/
*.pt
assets/*.png
!assets/mlflow_run.png